* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  font-family: Open Sans;
  min-height: 100vh;
  /* background: rgb(60,60,242); */
  /* background: linear-gradient(90deg, rgba(60,60,242,1) 0%, rgba(98,245,230,1) 52%, rgba(60,60,242,1) 100%); */
  background-size: cover;
}

.mainbox {
  position: relative;
  width: 500px;
  height: 500px;
  /* margin: auto; */
}
.mainbox:after {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  background: url("download.png") no-repeat;
  background-size: 32px;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border: 10px solid #fff;
  overflow: hidden;
  transition: all ease 5s;
}
span {
  width: 50%;
  height: 50%;
  display: inline-block;
  position: absolute;
}
.span1 {
  clip-path: polygon(0 92%, 100% 50%, 0 8%);
  background-color: #fffb00;
  top: 120px;
  left: 0;
}
.span2 {
  clip-path: polygon(100% 92%, 0 50%, 100% 8%);
  background-color: #ff4fa1;
  top: 120px;
  right: 0;
}
.span3 {
  clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
  background-color: #ffaa00;
  bottom: 0;
  left: 120px;
}
.span4 {
  clip-path: polygon(50% 100%, 92% 0, 8% 0);
  background-color: #22ff00;
  top: 0;
  left: 120px;
}

.box1 .span3 b {
  transform: translate(-50%, -50%) rotate(-270deg);
}
.box1 .span1 b,
.box2 .span1 b {
  transform: translate(-50%, -50%) rotate(185deg);
}
.box2 .span3 b {
  transform: translate(-50%, -50%) rotate(90deg);
}
.box1 .span4 b,
.box2 .span4 b {
  transform: translate(-50%, -50%) rotate(-85deg);
}

.box2 {
  width: 100%;
  height: 100%;
  transform: rotate(-135deg);
}
span b {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #001aff;
  color: #fff;
  box-shadow: 0 5px 20px #000;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}
.spin:active {
  width: 70px;
  height: 70px;
  font-size: 20px;
}

.mainbox.animate:after {
  animation: animateArrow 0.7s ease infinite;
}
@keyframes animateArrow {
  50% {
    right: -40px;
  }
}

.close-btn {
  position: absolute;
  left: 98.5%;
  padding: 4px 6px;
  top: -1px;
  background-color: red;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}
.leaderboard h1 {
  font-size: 40px;
  text-align: center;
}

.leaderboard-btn {
  display: block;
  background-color: #00ab39;
  border: 2px solid white;
  color: white;
  padding: 5px 8px;
  font-size: 25px;
  cursor: pointer;
  margin: 20px auto;
}
.turns-score {
  font-weight: bold;
  font-size: 22px;
  margin-top: 15px;
}

td,
th {
  font-size: 22px;
  padding: 25px;
  
}
svg {
  color: goldenrod;
}
table {
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 2px solid black;
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 20px;
}
table h2{
    font-weight: 500;
}
.full-tr{
    width: 100%;
}
thead tr{
  background-color: #001AFF;
    color: #ffffff;
    text-align: left;
}
tbody tr{
  border-bottom: 1px solid #dddddd;
}

.leaderboard{
  max-height: 600px;
  overflow: auto;
  border-bottom: 4px solid #001AFF;
}